body
{
    position: relative;

    margin: 0 auto;
    padding: 0;
    max-width: 1980px;

    width: 100%;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}
h1,
h2,
h3
{
    font-weight: normal;
    font-family: 'Open Sans', serif;
}

h2{
    text-align: center;
    font-size: 35px;
	font-weight: 100;
	text-transform: uppercase;
	color: #000000;
}

.push-top{
    padding-top: 60px!important;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
#themes h2 {
	margin:60px 0 110px 0;
}
#numbers h2 {
	color: #fff;
	font-size: 35px;
    margin-top: 23px;
    margin-bottom: 0;
    line-height: normal;
}
#advantages h2, #clients h2 {
	color: #3d3d3d;
}
#advantages h2{
    margin: 65px 0 60px 0;
    line-height: normal;
}
.block {
	clear: both;
	/*overflow: hidden;*/
}
.section{
    margin: 0 auto;
    padding: 20px 0 40px 0;
    width: 1000px;
}
#footer .section {
	padding: 37px 0;
}
#menu .section
{
    padding: 0;
}
.menu-holder{
    width: 100%;
    height: 60px;
    overflow: hidden;
}
.affix-top{
    position: relative!important;
    background-color: #000;
    z-index: 2!important;
}
.menu-holder ul{
    list-style-type: none;
    width: 1000px;
    margin: 0 auto;
    padding: 0;
}

.menu-holder li{
    float: left;
    padding: 18px 35px;
    text-align: center;
}
.menu-holder li a{
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}
.affix {
    position: fixed;
    z-index: 1030;
    width: 100%;
}
.affix-top li a{
    color: #b7845f;
}

.affix-top li a:hover{
    color: #fff;
}
.affix-top .logo-sm{
    position: relative;
    width: 145px;
    padding: 13px 0 7px 0!important;
}
.affix-top .logo-sm img{
    position: relative;
    top: -85px;
    opacity: 0;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.affix{
    background-color: #000;
    z-index: 100;
    top: 0;
}
.affix .logo-sm{
    width: 145px;
    padding: 0!important;
}
.affix .logo-sm img{
    position: relative;
    top: 7px;
    opacity: 1;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.affix li a{
    color: #b7845f;
}
.affix li a:hover{
    color: #fff;
}
.affix .active a{
    color: #fff;
}

.scroll-to-top{
    position: fixed;
    right: 15%;
    bottom: 28px;
    display: none;
    cursor: pointer;
    width: 35px;
    height: 35px;
    background: url('../images/arrow.png') 50% 50% no-repeat rgba(0, 0, 0, .3);
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.scroll-to-top:hover{
    background-color: rgba(174, 17, 52, .3);
}
#header{
    background-image: url("../images/fon_als.jpg");
    background-position: 35% 0;
    background-repeat: no-repeat;
    height: 555px;
    text-align: center;
    clear: both;
}
#header .logo-holder{
    padding-top: 135px;
}
#header .about-holder{
    width: 748px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 100;
    text-transform: uppercase;
    line-height: 18px;
    padding-top: 90px;
    color: #ffffff;
}
.parallax {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top center;
}
#themes{
    height: 520px;
    background: #f1eeed;
}
#types{
    height: 604px;
    background: #fff;
}
#advantages{
    height: 450px;
    background: #f1eeed;
}
#advantages h2{
    margin:125px 0 60px 0;
    line-height: normal;
}
#numbers{
    background: url("../images/fon_als.jpg") bottom center no-repeat;
	color: #efefef;
}
#clients{
    background: #f3f3f3;
}
#price{
    background: #ececec;
}
#contact{
    background: #ffffff;
}
#footer{
    background: url("../images/fon_als.jpg") center center no-repeat;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
}
.slider{
    position: relative;
    overflow: hidden;
    width: 1000px;
}
.slider ul{
    margin: 0;
    padding: 0;
}
.slider li{
    position: relative;
    float: left;
    margin: 0 10px 30px 0;
    width: 240px;
    height: 400px;
    list-style: none;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    zoom: 1;
}
.slider li .img{
    overflow: hidden;
    width: 240px;
    height: 400px;
}
.slider li:hover .img img{
    -webkit-transition: all 600ms;
    -moz-transition: all 600ms;
    -o-transition: all 600ms;
    transition: all 600ms;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.slider li .img img{
    -webkit-transition: all 600ms;
    -moz-transition: all 600ms;
    -o-transition: all 600ms;
    transition: all 600ms;
}
.slider li .text{
    position: absolute;
    top: -400px;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    color: #fff;
    text-align: center;
    font-size: 20px;
    line-height: 400px;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    -moz-opacity: 0;
}
.slider li:hover .text{
    top: 0;
    z-index: 2;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    -moz-opacity: 1;
}
.slider li .url{
    margin-top: 5px;
}
.slider li img{
    display: block;
    width: 240px;
}
.slider li:hover{
    background: rgba(10, 10, 10, .75);
    cursor: pointer;
}
.slider li span{
    display: inline-block;
}
/* IE6 issues */
.slider ul{
    width: 100%;
}
.client-item{
    text-align: center;
}
.controls{
    display: inline-block;
    clear: both;
    overflow: hidden;
    margin-top: 20px;
}
.controls .next-slide{
    position: relative;
    float: left;
    margin-left: 5px;
    padding: 10px 12px;
    border-radius: 5px;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    background: none rgba(0, 0, 0, .3);
    text-indent: -9999px;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
}
.controls .next-slide span{
    display: block;
    width: 11px;
    height: 15px;
    background: transparent url(../images/prevnext.png) 100% 0 no-repeat;
}
.controls .prev-slide{
    position: relative;
    float: left;
    padding: 10px 12px;
    border-radius: 5px;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    background: none rgba(0, 0, 0, .3);
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
}
.controls .prev-slide span{
    display: block;
    width: 11px;
    height: 15px;
    background: transparent url(../images/prevnext.png) 0 0 no-repeat;
}
.controls a:hover{
    background: none rgba(174, 17, 52, .3);
}
.contact-text {
    width: 695px;
    margin: 0 auto 40px auto;
}
.contact-text .col-50{
    float: left;
    text-align: center;
    font-size: 22px;
    font-weight: 100;
    width: 50%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#contact .row{
    margin: 40px 0;
    text-align: center;
    color: #6f4a30;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
}
form{
    display: block;
    margin: 0 auto;
    width: 815px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
form table {
    width: 100%;
}
form table td {
    vertical-align: top;
    width: 50%;
    padding: 0 20px;
}
form table td p{
    margin-top: 0;
    margin-bottom: 35px;
}
form .name {
	display: none;
}
input, textarea {
    vertical-align: top;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
}
textarea {
    width: 323px;
    height: 100px;
}
input[type="text"] {
    width: 323px;
}
input[type="text"], textarea {
    padding: 10px 16px;
    border: 1px solid #c4c4c4;
    background: #ffffff;
    color: #4a4a4a;
    font-size: 14px;
    font-weight: normal;
}
input[type="submit"] {
    padding: 10px 30px;
    border: none;
    background: #e37236;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background: #ac5526;
}
.help-block{
    display: none;
}
.has-error .help-block{
    display: block;
    margin-top: 4px;
    font-size: 13px;
    color: #ae1134;
}
.has-error textarea,
.has-error input[type="text"]{
    border-color: #ae1134;
    background-color: #f9f2f4;
}
#themes ul {
	margin: 0;
	padding: 0;
    list-style-type: none;
}

#themes ul li{
    float: left;
    width: 280px;
    padding-top: 150px;
    color: #43332b;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
}
#themes .t1{
    background: url("../images/icons/car.jpg") 50% 65px no-repeat;
}
#themes .t3{
    background: url("../images/icons/repair.jpg") 50% 27px no-repeat;
}
#themes .t2{
    width: 440px;
    background: url("../images/icons/property.jpg") 50% 0 no-repeat;
    font-size: 25px;
}

#numbers ul {
    float: left;
	margin: 0 0 25px -49px;
	padding: 0;
}
#numbers ul li {
	list-style: none;
	display: block;
    font-size: 14px;
    width: 250px;
	float: left;
	margin-left: 49px;
	text-align: center;
	background: transparent url('../images/numbers.png') 0 0 no-repeat;
	padding: 115px 0 0 0;
    color: #ffffff;
}
#numbers ul li span.number {
	display: block;
	font-weight: 400;
	font-size: 50px;
	color: #ffffff;
}
#numbers ul li.num1 {
	background-position: 98px 40px;
}
#numbers ul li.num2 {
    background-position: -625px 40px;
}
#numbers ul li.num3{
    line-height: 56px;
    width: 390px;
}
#numbers ul li.num3 span.number{
    font-size: 80px;
}

#numbers ul li.num3 {
    background-position: -196px 50px;

}
#types h2{
    margin-bottom: 60px;
}
#types ul {

    float: left;
	margin: 0 -30px 70px -30px;
	padding: 0;
    list-style-type: none;
}
#types ul li {
	background: transparent url('../images/types.jpg') 0 0 no-repeat;
	color: #6f4a30;
    float: left;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    padding: 70px 0 0 0;
    margin: 0 30px 30px 30px;
    width: 293px;
    height: 120px;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#types ul li.l1 {
	background-position: 115px 0px;
}
#types ul li.l2 {
	background-position: -213px 0px;
}
#types ul li.l3 {
	background-position: -559px 0px;
}
#types ul li.l4 {
	background-position: 115px -129px;
}
#types ul li.l5 {
	background-position: -213px -134px;
}
#types ul li.l6 {
	background-position: -559px -133px;
}
#types ul li.l7 {
	background-position: 115px -257px;
}
#types ul li.l8 {
	background-position: -213px -257px;
}
#types ul li.l9 {
	background-position: -559px -257px;
}

#advantages ul {
    float: left;
	margin: 0 -33px;
	padding: 0;
    list-style-type: none;
}
#advantages ul li {
    float: left;
	background: transparent url('../images/advantages.jpg') 0 0 no-repeat;
    width: 150px;
    height: 124px;
    padding-top: 75px;
	margin: 0 30px;
	color: #6f4a30;
    font-size: 14px;
    font-weight: normal;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    line-height: 18px;
}
#advantages ul li.l1 {
	background-position: 47px 0px;
}
#advantages ul li.l2 {
	background-position: 47px -124px;
}
#advantages ul li.l3 {
	background-position: 47px -304px;
}
#advantages ul li.l4 {
	background-position: 47px -484px;
}
#advantages ul li.l5 {
	background-position: 47px -664px;
}
.pricetext {
	margin: 0 auto;
    text-align: center;
    width: 610px;
}
.pricetext span {
	display: block;
	margin: 0.7em;
	text-align: center;
	font-size: 20px;
	font-weight: 400;
}
.push-right-5{
    margin-right: 2px;
}